// Angular Material Settings

$baseline-grid:           1rem;
$layout-gutter-width:     ($baseline-grid * 2);


// Custom Settings
$toolbar-height:          64px;

$flex-grid-sizes: (
  16: 100 / 6
);
