<div
  ng-if="$ctrl.loading"
  class="loading">
  <p
    ng-bind="$ctrl.loading">
  </p>
</div>
<div
  class="dashboard">
  <md-tabs
    md-dynamic-height="true"
    md-selected="$ctrl.selectedTab">
    <md-tab
      ng-repeat="tab in $ctrl.tabs"
      label="{{tab.label}}">
      <div
        layout="column">
        <div
          layout="row"
          class="dashboard-row"
          ng-repeat="row in tab.rows">
          <branch-card
            branch="branch"
            gitlab-host="$ctrl.config.url"
            ng-repeat="branch in row.branches">
          </branch-card>
        </div>
      </div>
    </md-tab>
  </md-tabs>
</div>
