<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="sidenav">
  <md-toolbar>
    <h1 class="md-toolbar-tools">Settings</h1>
  </md-toolbar>

  <md-content layout-padding="">
    <form>
      <md-input-container class="md-block">
        <label>Url</label>
        <input ng-model="$ctrl.config.url">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Token</label>
        <input ng-model="$ctrl.config.token" md-autofocus="">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Group/Project Wildcard</label>
        <input ng-model="$ctrl.config.projectMatch">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Branch Wildcard</label>
        <input ng-model="$ctrl.config.branchMatch">
      </md-input-container>
    </form>
    <md-button
      class="md-raised md-primary"
      ng-click="$ctrl.save()">
      Save
    </md-button>
  </md-content>
</md-sidenav>
